/* General Website Style rules */
body {
    font-family: 'Bubblegum Sans', Sans-Serif, cursive;
}

#front-page {
    background: url('background_photo.jpeg') no-repeat;
    background-color: #d0d269;
    background-size: cover;
    width: 100%;
    height: 800px;
    
}