{% extends 'customer/base.html' %}

{% block content %}

<div class="container mb-0" style="color: #1d5113; background:rgba(208, 210, 105, 0.7)">
    <div class="row justify-content-center mt-0">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
            <p>It's Fresh! is a pioneering award winning takeaway built on three pillars.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-1 mb-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            
            <img src="/Logo_It's_Fresh!.png" alt="It's Fresh logo" class="justify-content-center"  style="width:200px;height:200px;">
            <h3></h3>
            <p>cras sed ligula, ornare pulvinar mattis suscipit Tristique Taciti velit ullamcorper cubilia. Duis
                eu. Blandit mauris. Non cum, accumsan eleifend ipsum aptent sodales primis cum accumsan. Aliquet mattis,
                leo mi aptent. Placerat in gravida justo felis mi cursus mauris semper eu pede imperdiet hac. Feugiat id
                etiam quam, suspendisse phasellus. Nulla quis pellentesque cras consequat. Ullamcorper feugiat
                adipiscing proin enim curabitur aenean metus sollicitudin netus eget scelerisque facilisis luctus
                mauris. Senectus auctor luctus dis potenti vestibulum volutpat adipiscing habitant ullamcorper malesuada
                iaculis. Nulla luctus porttitor pulvinar vestibulum condimentum ipsum aliquet. Nascetur integer facilisi
                sociis purus gravida nullam quisque vestibulum pharetra nostra pede felis rhoncus rhoncus litora fusce
                tincidunt volutpat ornare dolor lacinia facilisi morbi turpis sociis, placerat platea tristique leo, ut
                aliquet. Placerat quisque montes, mollis ridiculus est mus aenean ligula fusce.</p>
        </div>
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <p>Sit nullam parturient eu sagittis curabitur. Lectus scelerisque amet praesent accumsan fames orci purus
                aliquet. Litora vel pulvinar nascetur aptent dolor sapien morbi leo placerat vivamus enim fames felis
                torquent imperdiet est commodo. Quis hendrerit. Nisi ac risus sagittis porta nulla felis ultrices. Proin
                nunc enim metus nam cum. Velit augue urna consectetuer justo quis metus sit litora ultrices, mus
                condimentum feugiat eros congue, ante pellentesque eget. Semper congue. Massa nunc varius donec orci
                iaculis malesuada hac viverra donec varius nostra, convallis volutpat fames non integer at dignissim
                nulla ultrices ultrices placerat metus porttitor vitae, taciti sagittis sed erat aliquet metus metus
                odio varius diam cursus. Congue nostra penatibus dis eleifend taciti luctus aenean dignissim suscipit
                aliquet taciti sollicitudin diam quisque vestibulum suscipit. Dictum per litora turpis ornare ligula
                feugiat aliquet. Congue Donec cras in donec ipsum. Leo sit, laoreet felis.</p>
        </div>
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <p>Sagittis conubia imperdiet eros dapibus, nunc auctor ultricies accumsan lobortis justo libero maecenas
                sit Odio nisi parturient inceptos, amet lacinia risus nostra. Nisl libero ipsum malesuada etiam sociosqu
                elementum quam nam aliquam dis. Non. Condimentum urna, cursus facilisis libero cubilia nam consectetuer,
                habitant litora. Morbi tempus. Porttitor adipiscing tortor. Rhoncus nec habitant odio orci, augue dolor
                nullam pellentesque vehicula libero hymenaeos nunc mattis blandit lacinia. Class proin iaculis mollis
                ligula consectetuer taciti. Metus senectus. Tortor nisl semper mattis. Mauris ut nibh quis tempor congue
                dictumst morbi nunc vulputate viverra mi eget dictumst curae; dis congue magna rutrum ligula risus magna
                suscipit natoque consequat lacinia natoque arcu. Magnis etiam taciti vulputate dignissim vel fusce quam
                cras orci leo torquent mattis non ipsum pede nascetur viverra eros proin.</p>
        </div>
    </div>
</div>

{% endblock content %}