<footer class="page-footer font-small fixed-bottom" style="background-color: #8c4b37; color:#D0D269;">
    <div class="footer-copyright text-center py-3" style="color:#D0D269;">&copy; 2023 Copyright:
        <a href="{% url 'index' %}" style="color:#D0D269;"></a>It's Fresh!</a>
        <div>
            <h3>Find us</h3>
            <p><i class="fa-regular fa-location-dot"></i>3 Primrose Gardens</p>
            <p>Hampstead Heath, VE12 G12</p>
            </div>
            <div>
            <h3>Follow us
                <p><i class="fa-brands fa-instagram"></i> </p>
            </h3>
        </div>
        <a class="ml-3" href="{% url 'dashboard' %}" style="color:#1D5113;">Cafe Login</a>
    
        
    </div>
</footer>