{% extends 'customer/base.html' %}

{% block content %}



<div class="container-fluid g-0 p-0 mb-0" id="front-page">
    <a img="coderscafe/customer/static/customer/background5.jpg" alt="Two bowls of food" style="background-image: no-repeat;"></a>
    <div class="row justify-content-center mt-0" id="name_box">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center" >
            <h1 style="color:#07331B">Online Food Delivery Service</h1>
        </div>
    </div> 
    <div class="row justify-content-center mt-5" id="order_box">
        <div class="card col-md-3 col-sm-12 offset-md-1 p-4 pb-5 mt-1 text-center" style="background-color:#5c8326; color:#D0D269;">
            <h2>Place an Order!</h2>
            <a href="{% url 'order' %}" class="btn" style="background-color: #8c4b37; color:#D0D269; font-size: larger;">Order Now!</a>
        </div>
    </div>
</div>

{% endblock content %}